{% extends "base.html" %}

{% block content %}
	<h1>Code Peer Review</h1>
	
	<p>You're a developer.  And you've spent the last 2 years working with Java sockets in an uninteresting trading app.  But you also happen to support anonymity - but have no idea how to get involved.  Or you're a security researcher who's spent the last two months understanding the padding oracle backwards and forwards.  Wouldn't it be nice to see a personalized RSS feed of cryptography, anonymity, and privacy projects containing the keywords "java.net.Socket" or "CBC Mode"?  Then you could skim commits, and if something interesting came up, you may be able to lend your expertise.  That's exactly what the Code Peer Review is for.</p>
	
	<p>The goal is to aggregate relevant open source projects, watch their commits, and deliver personalized information via RSS, email, and a web interface to encourage people to get involved with projects and audit and improve the code.  The code is at <a href="https://github.com/cryptodotis/code-peer-review">a github repo</a>, and while a public beta operated for some time it is no longer running.  If interested, you can find the developer at <a href="https://ritter.vg">his homepage</a>.</p>
    
{% end %}
