{% extends "base.html" %}

{% block content %}
	<h1>Projects</h1>

	<h3><a href="/code-peer-review/">Code Peer Review</a></h3>
	<p>Writing secure code is hard.  But if everyone is intimidated by the prospect, no secure code would be written.  The Code Peer Review seeks to be a single feed of commits to crypto and anonymity tools.  It is the hope that an easy to skim feed of changes will encourage people to watch projects for changes relating to their area of expertise so they can audit and perhaps become involved in the project.</p>

	<h3><a href="https://github.com/cryptodotis/mixfaster">Mixfaster</a></h3>
	<p>Mixfaster is a new, in-development, mixmaster server.  Written in python, the server does not require an external mailserver to interoperate with, but instead ships with one - making it much easier for individuals to deploy and join the remailer network.</p>

        <h3><a href="https://github.com/cryptodotis/irssi-otr">Irssi-otr</a></h3>
	<p>Irssi-otr is a plugin for the popular "Internet Relay Chat" client Irssi. OTR provides encryption, authentication, deniability and perfect forward secrecy. It currently has libotrv4 support. The current release is alpha based, use with extreme caution.</p>

{% end %}
