{% extends "../base.html" %}

{% block content %}

    <h1>Contribute Goods, Services, &amp; Money</h1>
    <p>Crypto.is is able to run security and anonymity services based off donations, but primarily its members have chosen to associate services they run personally with the project to promote its growth.  If you have spare cash, bandwidth, a server, or the inclination to run a service yourself - please <a href="/about/">get in touch</a>.  We'll be happy to help you set it up, or even administer it for you.  The end goal is simple: we want to grow the network of services available.</p>
    <!--
    <h3>Crypto.is Services</h3>
    <ul>
        <li>High Availability Convergence Notaries
            <ul>
            <li></li>
            </ul></li>
        <li>Tor Nodes
            <ul>
            <li></li>
            </ul></li>
        <li>Tor Mirrors
            <ul>
            <li></li>
            </ul></li>
        </ul>
    -->
    <h3>Member Services</h3>
    <ul>
        <li>Tor Nodes
            <ul>
            <li><a href="https://atlas.torproject.org/#details/56F561B7C6480AB3D405B3DD6DC1776BC6728D1F">Tor Relay</a></li>
            <li><a href="https://atlas.torproject.org/#details/53C69E26DCCD3B16E628EE8639A4C9A2B803FE60">Tor Relay</a></li>
            <li><a href="https://atlas.torproject.org/#details/C0EDB08D7540D1DD3CA69809ED17D979F51B66E3">Tor Relay</a></li>
            <li><a href="https://atlas.torproject.org/#details/d5981825af8b1defc9d8f2445729a11b12581384">Tor Relay</a></li>
            <li><a href="https://atlas.torproject.org/#details/ee16d42d79167666014e57c077bed8af53d8e6f7">Tor Relay</a></li>
            <li><a href="https://atlas.torproject.org/#details/810962dc3c058c757070420e9a9497532bb8185a">Tor Relay</a></li>
            <li><a href="https://atlas.torproject.org/#details/e48af1423227a7060445b837b1f2e9bb38bd757e">Tor Relay</a></li>
            <li><a href="https://atlas.torproject.org/#details/4aa2234aa59c2fcebd182828df0ba225c4866e67">Tor Relay</a></li>
            <li>Tor Bridge</li>
            <li>Tor Bridge</li>
            <li>Tor Bridge</li>
            </ul></li>
        <li>Tor Mirrors
            <ul>
            <li><a href="https://torproject.antagonism.org/">torproject.antagonism.org</a></li>
            </ul></li>
        <li>Mixmaster Remailers
            <ul>
            <li><a href="http://stats.mixmin.net/rabbi.mix.freedom.antagonism.org.txt">rabbi</a></li>
        <li><a href="http://stats.mixmin.net/pobox.mix.antagonism.org.txt">pobox</a></li>
        <li><a href="http://stats.mixmin.net/winters.mix.remailer.antagonism.org.txt">winters</a></li>
            </ul></li>
        <li>Mixminion Remailers
            <ul>
            <li><a href="http://www.noreply.org/mixminion-nodes/#amanscastle">A Man's Castle</a></li>
        <li><a href="http://www.noreply.org/mixminion-nodes/#rabbi">rabbi</a></li>
        <li><a href="http://www.noreply.org/mixminion-nodes/#chandler">chandler</a></li>
            </ul></li>
    <li>Convergence Notaries
        <ul>
        <li><a href="https://www.antagonism.org/antagonism.notary">antagonism.notary</a></li>
        </ul></li>
    <li>SKS Keyserver
        <ul>
        <li><a href="http://liberty.antagonism.org:11371/">liberty.antagonism.org</a></li>
        </ul></li>
        </ul>


    <h3>Other Projects</h3>

    <p>Please consider contrbuting to other projects that promote security, anonymity, privacy, and free speech.  If you would like to have a project listed here, please <a href="/about/">contact us</a>.

    <ul>
    <li><a href="https://www.torproject.org/donate/donate.html.en">The Tor Project</a> - Donations to tor fund the development and promotion of the worldwide anonymity network, and may be tax deductible.</li>
    <li><a href="https://www.torservers.net/donate.html">Torservers.net</a> - Donations to torservers goes directly towards running tor nodes.</li>
    <li><a href="http://tor.noisebridge.net/">Noisetor</a> - Donations to Noisetor goes directly towards running tor nodes.</li>
    <li><a href="http://g10code.com/gnupg-donation.html">gnupg</a> - Donations to gnupg or hiring the developers help drive development of the application.</li>
    </ul>


{% end %}
